<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mycompany.tapjoyairplaysampleproj"
      android:versionCode="1"
      android:versionName="0.0.1"
      android:installLocation="auto"
      >
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:debuggable="true">
        <activity android:name=".Main"
                  android:label="@string/app_name"
				  android:configChanges="locale|keyboardHidden|orientation"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.tapjoy.TJCOffersWebView" android:configChanges="keyboardHidden|orientation" />
		<activity android:name="com.tapjoy.TapjoyFeaturedAppWebView" android:configChanges="keyboardHidden|orientation" />
        
		<receiver android:name="com.tapjoy.TapjoyReferralTracker" android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
    </application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8"/>
	<!-- Required by Airplay internally. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.SET_ORIENTATION"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
	<!-- The following permissions are optional unless required by your application: -->
	<!-- Required if using the sdcard (AndroidUseSdcard=1). -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<!-- Required by s3eContacts. -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
	<!-- Required by s3eSoundRecord. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<!-- Required by s3eCamera. -->
    <uses-permission android:name="android.permission.CAMERA"/>
	<!-- Required by s3eSMS. -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<!-- Required by s3eLocation. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<!-- Required by s3eAndroidLVL.mkb to check licensing. -->
	<uses-permission android:name="com.android.vending.CHECK_LICENSE" />
</manifest> 
